<div class="space-y-2 ml-7 mt-6 sm:hidden">
    <div class="w-8 h-0.5 bg-gray-600"></div>
    <div class="w-8 h-0.5 bg-gray-600"></div>
    <div class="w-8 h-0.5 bg-gray-600"></div>
  </div>
  <img class="w-36 ml-28 relative bottom-7 sm:mt-12 sm:ml-10 sm:w-44 "src="https://assetscdn1.paytm.com/images/catalog/category/5165/paytm_logo.png" alt="" srcset="">

  <nav class="invisible sm:visible xl:absolute xl:top-8 xl:left-96 xl:text-lg xl:font-semibold font-semibold text-center">
       
    <a class="mr-8 text-black hover:text-gray-900 hover:cursor-pointer">Paytm for Consumer</a>
    <a class="mr-8 text-black hover:text-gray-900 hover:cursor-pointer">Paytm for Buisness</a>
    <a class="mr-8 text-black hover:text-gray-900 hover:cursor-pointer">Company</a>
    <a class="mr-8 text-black hover:text-gray-900 hover:cursor-pointer">Investor Relations</a>
    <a class="mr-8 text-black hover:text-gray-900 hover:cursor-pointer">Career</a>
  </nav>

  <button class="inline-flex items-center absolute right-0 top-1  bg-sky-500 text-white border-0 py-1 px-3 focus:outline-none hover:bg-blue-800 rounded-full text-base mr-4 mt-4 md:mt-4"  [routerLink]="['Sign-in']"> Sign in
    <img class="relative left-2" src="https://assetscdn1.paytm.com/frontendcommonweb/9a65db05.svg" alt="" srcset="">
     </button>
     <!-- <button>sign-in</button> -->

     <div class=" w-full h-12 bg-slate-100">
     <p class="ml-2 py-3 md:text-center"> <span class="font-semibold">No Wallet KYC Required </span> 😊 to pay using UPI on Paytm. <span class="font-semibold">Learn more.</span> </p>
     </div>
